<div ng-controller="MovieController as ctrl">
    <h2>Books</h2>
    Filter Books <input type="text" ng-model="movieFilter.Title">
    <br/>
    <table>
        <tr>
            <th>Author</th>
            <th ng-click="ctrl.doSort()">Title</th>
            <th>Genre</th>
            <th>Published</th>
        </tr>
        <tr ng-repeat="movie in ctrl.movies | filter:movieFilter | orderBy:ctrl.sortBy:ctrl.reverse">
            <td>{{movie.Director | uppercase}}</td>
            <td>{{movie.Title | lowercase}}</td>
        </tr>
    </table>

    <span>Total books: {{ctrl.movies.length}}</span>
    <a ui-sref="other">Activate Other State</a>
</div>