<div ng-controller="MovieController as ctrl">
    <h2>Movies</h2>
    Filter Movies by title <input type="text" ng-model="movieFilter.Title">
    <br>
    Filter Movies by director <input type="text" ng-model="movieFilter.Director">
    <br/>
    <table>
        <tr>
            <th>Director</th>
            <th ng-click="ctrl.doSort()">Title</th>
        </tr>
        <tr ng-repeat="movie in ctrl.movies | filter:movieFilter | orderBy:ctrl.sortBy:ctrl.reverse">
            <td>{{movie.Director | uppercase}}</td>
            <td>{{movie.Title | uppercase}}</td>
        </tr>
        <br>
    </table>
    <span>Total Movies: {{ctrl.movies.length}}</span>
</div>